body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e058ac;
}

header {
    background-color: #ffcccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(